@model Agenda.Entities.Compromisso

@{
    Layout = null;
}
<div id="compromisso-edit-modal">
    @Html.Partial("_Edit", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
